apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:  
  - ../../base

patchesStrategicMerge:
  - nuxt-deployment-patch.yaml

images:
  - name: nuxt-app-image
    newName: ghcr.io/ta8i2chi8/sample-app-for-cicd
    newTag: c63f4e1